<!DOCTYPE html>
<html>
  <head>
    <title>AuthenticationProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>

  </head>

  <body>
    <% if flash[:notice] %>
      <div class="notice">
        <p class="center-link error"><%= flash[:notice] %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
